body {
	background-color: #000000;
	background-image: url("https://www.colourbox.com/preview/8318817-hi-res-grass-texture.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
}

a:link{color: #cecece;}
a:visited{color: #878b8b;}